* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(imagens/fundobom.png);
    background-repeat: no-repeat;
    background-color: rgb(59, 59, 59);
    background-size: cover;
}
header{

}
.menu{
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(47, 32, 61);
}
.menusec{
    align-items: center;
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(66, 35, 66);
}
main {
    height: 100%;
    max-width: 950px;
    background-color: rgba(37, 22, 37, 0.6);
    margin: auto;
}
.lista{

    align-items: center;
    text-align: center;
    text-decoration: none;
    display: flex;

    font-size: 30px;
    color: white;
}
.lista:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.soja{
    justify-items: 4;
    list-style: none;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 30px;
    gap: 7px;
    text-align: center;
}
.Lsec{
    align-items: baseline;

    text-decoration: none;
    display: flex;
    padding: 15px;
    font-size: 30px;
    color: white;
}
.Lsec:hover{
    background-color:violet;
}
img{
    border: solid 2px black;

    max-width: 50%;
}
.n{
    padding: 15px;
}
button{
    border-radius: 5px;
    width: 150px;
    background-color: black;
    text-decoration: none;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 12px;
    bottom: 0;
}


