* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(59, 59, 59);
}
header{
    background-color: rgb(69, 0, 133);
}
.menu{
    padding: 7px;
    color: white;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    background-color: rgb(36, 1, 70);
}

main {
    max-width: 1330px;
    background-color: rgb(73, 15, 15);
    margin: auto;
}
footer {
    background-color: blueviolet;
}
.lista{
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 150px;
    font-size: 25px;
    color: white;
}
.lista:hover{
    background-color: blue;
}
.soja{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 25px;
    gap: 10px;
    text-align: center;
}
img{
    max-width: 75%;
}



